:root {
    --scale: 1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #000000;
    background-color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.header {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.header-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.header-button input{
    background-color: white;
    color: black;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    padding: 32px 24px;
    border: 1px solid #0047FF;
    border-radius: 0 60px;
}

.header-button input[type="button"] {
    background: #ffffff;
    font-weight: 600;
    line-height: 42px;
    color: #0047ff;
    cursor: pointer;
    font-size: 1.6vw;
}

.advantages {
    width: 85%;
    margin: 0 auto;
}

.advantages h1 {
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.description-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*.advantages-cards-short-item:nth-child(n+4) {*/
/*    margin-bottom: 0;*/
/*}*/

.advantages-cards-long-item {
    background: #FFFFFF;
    box-shadow: calc(3px * var(--scale)) calc(3px * var(--scale)) calc(40px * var(--scale)) rgba(0, 0, 0, 0.4);
    border-radius: calc(30px * var(--scale));
    padding: calc(30px * var(--scale));
    width: 100%;
    margin-bottom: calc(60px * var(--scale));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}

.advantages-cards-long-item:last-child {
    margin-bottom: 0;
}

.advantages-cards-long-item img {
    width: calc(97px * var(--scale));
    height: calc(97px * var(--scale));
    margin: auto;
}

.advantages-cards-long-item h3 {
    font-weight: 100;
    font-size: calc(30px * var(--scale));
    line-height: calc(29px * var(--scale));
    margin-top: 0;
    margin-bottom: calc(12px * var(--scale));
}

.advantages-cards-long-item p {
    font-weight: 100;
    font-size: calc(22px * var(--scale));
    line-height: calc(29px * var(--scale));
    margin-top: 0;
    margin-bottom: calc(12px * var(--scale));
}

.advantages-cards-short-item {
    background: #FFFFFF;
    box-shadow: calc(3px * var(--scale)) calc(3px * var(--scale)) calc(40px * var(--scale)) rgba(0, 0, 0, 0.4);
    border-radius: calc(30px * var(--scale));
    padding: calc(30px * var(--scale));
    width: calc(396px * var(--scale));
    /*height: calc(327px * var(--scale));*/
    margin-right: calc(60px * var(--scale));
    margin-bottom: calc(60px * var(--scale));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

.advantages-cards-short-item img {
    width: calc(40px * var(--scale));
    height: calc(40px * var(--scale));
    margin-bottom: calc(26px * var(--scale));
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.advantages-cards-short-item-text {
    height: 100%;
}

.advantages-cards-short-item h3 {
    font-weight: 100;
    font-size: calc(22px * var(--scale));
    line-height: calc(29px * var(--scale));
    margin-top: 0;
    margin-bottom: calc(12px * var(--scale));
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.advantages-cards-short-item p {
    font-weight: 400;
    margin-top: 0;
    font-size: calc(18px * var(--scale));
    line-height: calc(21px * var(--scale));
}

.gallery {
    width: 100%;
    overflow: hidden;
    margin: 40px auto 0;
}

.gallery-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.gallery-wrapper-left {
    position: relative;
    width: 85%;
    height: calc(42vw * var(--scale));
    border: 1px solid #0047FF;
    border-radius: 60px;
}

.gallery-wrapper-right {
    position: absolute;
    top: 4vw;
    right: 2.6vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.gallery-wrapper-right a {
    cursor: pointer;
}

.gallery-wrapper-right p, .gallery-wrapper-right hr {
    writing-mode: vertical-rl;
}

.gallery-wrapper-right p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.gallery-wrapper-right hr {
    margin: 3vw 0 2.6vw;
    border: 1px solid #0047FF;
    height: 7vw;
}

.gallery-wrapper-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
 }

.gallery-wrapper-item.active {
    opacity: 1;
}

.gallery-wrapper-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 60px 0;
    border: 1px solid #0047FF;
}

.gallery-wrapper-controls button {
    width: 160px;
    height: 105px;
    width: 8.3vw;
    height: 5.5vw;
}

.gallery-wrapper-controls button.gallery-wrapper-controls-prev {
    border-right: 1px solid #0047FF;
}

.gallery-wrapper-controls button img {
    width: 3.1vw;
}

.gallery-wrapper-controls-next img {
    transform: scaleX(-1);
}

.social-web-item {
    margin-bottom: 2vw;
    width: 2.1vw;
}

.background-news {
    width: 100%;
    background-image: url("images/news-background1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;

    padding-top: 324px;
    padding-bottom: 228px;
}

.news {
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    color: #FFF;
}

.news-top {

}

.news-top hr {
    border: 2px solid #FFF;
    margin-bottom: 40px;
}

.news-top-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between
}

.news-top-content-left {

}

.news-top-content-left h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
}

.news-top-content-right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.news-top-content-right p {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin-right: 89px;
}

.news-top-content-right p:first-child {
    margin-right: 126px;
}

.news-top-content-right-prev, .news-top-content-right-next {
    padding: 0;
    background: transparent;
    border: 0;
}

.news-top-content-right-prev {
    margin-right: 21px;
}

.news-top-content-right-next {
    transform: scaleX(-1);
}

.news-content {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
}

.news-content-short {
    width: 50%;
}

.news-content-short-item {
    border-bottom: 1px solid #E9E9E9;
}

.news-content-short-item:last-child {
    border-bottom: none;
}

.news-content-short-item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 21px;
}

.news-content-short-item h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 50px;
}

.news-content-short-item:last-child h3{
    margin-bottom: 0;
}

.news-content-long {
    display: flex;
    /* width: 40%; */
    flex-direction: column;
    /* margin-left: 154px; */
    justify-content: space-between;
}

.news-content-long-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: auto;
}

.news-content-long-top-wrapper {
    position: relative;
}

.news-content-long-top-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0 0 ;
    object-fit: fill;
}

.news-content-long-top-wrapper:first-child {
    width: 66%;
}

.news-content-long-top-wrapper-date {
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    border-radius: 0 40px;
    width: 135px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    height: 100px;
    align-items: center;
    color: #0047FF;
}

.news-content-long-top-wrapper-date h4 {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
}

.news-content-long-top-wrapper-date p {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin: 0;
}

.news-content-long-top-wrapper-desc {
    position: absolute;
    /*bottom: 0;*/
    top: 100%;
    background: #fff;
    border-radius: 0 0 40px 40px;
    text-align: left;
    height: 37%;
    padding: 40px 45px;
    color: #000A64;
}

.news-content-long-top-wrapper:last-child .news-content-long-top-wrapper-desc{
    padding: 15px 20px;
}

.news-content-long-top-wrapper-desc p {
    margin: 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.news-content-long-top-wrapper:last-child .news-content-long-top-wrapper-desc p{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.news-content-long-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px;
}

.news-content-long-bottom-item {
    width: 100%;
}

.news-content-long-bottom-item img {
    width: 100%;
    margin-bottom: 25px;
}

.news-content-long-bottom-item p {
    margin: 0 0 21px;
}

.news-content-long-bottom-item h3 {
    margin: 0;
}

.videonews {
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.videonews-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.videonews-top-left {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-bottom: 32px;
    border-bottom: 2px solid #0047FF;
    justify-content: space-between;
}

.videonews-top-left h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    width: 65%;
}

.videonews-top-left p {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin: 0;
    text-align: center;
    width: 30%;
}

.videonews-top-right {
    width: 22%;
}

.videonews-top-right h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    text-align: center;
}

.videonews-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.videonews-content-big {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 75%;
    justify-content: space-between;
}

.videonews-content-big-left {
    width: 65%;
}

.videonews-content-big-left p {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin: 40px 0 0 0;
}

.videonews-content-big-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30%;
}

.videonews-content-big-right-item {
    margin-bottom: 11%;
}

.videonews-content-big-right-item p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin: 20px 0 0 0;
}

.videonews-content-small {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 21%;
}

.videonews-content-small p {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding: 40px 0;
    margin: 0;
    border-bottom: 1px solid #C1C1C1;
}

.videonews-content-small > p:first-child {
    padding-top: 0;
}

.videonews-content-small p:last-child {
    padding: 0;
    border-bottom: none;
}

.videonews-content-small-button {
    margin-top: 40px;
    width: fit-content;
}

.videonews-content-small-button p {
    text-align: left;
    color: #0047FF;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}

.small-image-wrapper, .big-image-wrapper {
    position: relative;
}

.small-image-wrapper img, .big-image-wrapper img {
    width: 100%;
}

.small-image-wrapper > img, .big-image-wrapper > img {
    border: 1px solid #3f82b1;
}

.small-image-wrapper > img {
    border-radius: calc(20px + 18 * (100vw / 1080));
}

.big-image-wrapper > img {
    border-radius: calc(60px + 14 * (100vw / 1080));
}

.small-image-wrapper-button, .big-image-wrapper-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-image-wrapper-button img {
    width: 3.3vw;
}

.big-image-wrapper-button img {
    width: 8.1vw;
}

.background-contacts {
    width: 100%;
    background-image: url("images/contacts-background.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 288px;
    /*padding-bottom: 228px;*/
}

.contacts {
    width: 85%;
    /*display: flex;*/
    /*margin: auto;*/
    margin-bottom: 120px;
}

.contacts-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.contacts-content-left {
    width: 47%;
    height: 63%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.contacts-content-left h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin: 0 0 50px;
}

.contacts-content-left p {
    font-weight: 100;
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 30px;
}

.contacts-content-left p:last-child {
    margin: 0 0 50px;
}

.contacts-content-left p span{
    font-weight: 100;
}

.contacts-content-left h3 {
    margin: 0;
    font-weight: 100;
    font-size: 30px;
    line-height: 41px;
}

.contacts-content-right {
    background: #FFFFFF;
    border-radius: 30px;
    width: 43%;
    display: flex;
    justify-content: center;
}

.contacts-content-right form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 71%;
    margin: 60px 0;
}

.contacts-content-right h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
}

.contacts-content-right input {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 2px solid blue;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    padding: 36px 32px;
    margin-bottom: 30px;
}

.contacts-content-right input[type="submit"] {
    background: #0047FF;
    box-shadow: 4px 4px 40px rgba(17, 107, 188, 0.4);
    border-radius: 30px;
    font-weight: 600;
    /*font-size: 36px;*/
    line-height: 42px;
    color: #FFF;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 1.8vw;
}

.contacts-content-right input::placeholder {
    color: #A4A4A4;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 85%;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 27px;
    /*width: 38%;*/
}

.footer-left a {
    /*width: 35%;*/
}

.footer-left-title {
    color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /*width: 60%;*/
}

.footer-left-title p {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 5px 0;
}

.footer-left-title h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    margin: 0;
}

.footer-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 60px;
}

.footer-right img {
    object-fit: contain;
}

.videonews-top h3 {
    /*font-weight: 600;*/
    /*font-size: 40px;*/
    /*line-height: 47px;*/
    /*margin-bottom: 20px;*/
    /*margin-top: 80px;*/

    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.videonews-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.videonews-content-left {
    width: 65%;
}

.videonews-content-left-item {

}

.videonews-content-left-item img {

}

.videonews-content-left-item p {
    font-weight: 100;
    font-size: 25px;
    line-height: 29px;
}

.videonews-content-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30%;
    justify-content: space-between;
}

.videonews-content-right-item {
    height: 45%;
}

.videonews-content-right-item img {

}

.videonews-content-right-item p {
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
}

.partners {
    width: 85%;
}

.partners h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}

.partners-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.partners-content-item {
    width: 12%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-content-item img {
    max-width: 100%;
    height: auto;
}

.partners-content-item:nth-child(3n+1) {
    justify-content: flex-start;
}

.partners-content-item:nth-child(3n+2) {
    justify-content: center;
}

.partners-content-item:nth-child(3n+3) {
    justify-content: flex-end;
}

.partners-content-item:last-child {
    justify-content: center;
}

@media screen and (min-width: 1610px) {
    .advantages-cards-short-item:nth-child(n+4) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1610px){
    .advantages-cards-short-item:nth-child(n+5) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1073px) {
    .advantages-cards-short-item {
        width: calc(356px * var(--scale));
    }
}